body {
  font-family: "RobotoRegular", sans-serif;
  color: #333;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised; }

h1 {
  color: #fff;
  font-size: 60px;
  line-height: 56px;
  font-weight: bold;
  font-family: "CleanvertisingLight", sans-serif;
  margin: 0; }

section {
  padding: 58px 0 68px; }
  section.s_dark h2, section.s_dark h3, section.s_dark p {
    color: #fff; }
  section h2 {
    color: #003469;
    font-size: 50px;
    line-height: 56px;
    font-size: 50px;
    margin-bottom: 50px; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

header {
  min-height: 640px;
  background-image: url(../img/top_bg.jpg);
  background-position: top center;
  background-size: cover;
  color: #fff;
  padding-top: 32px;
  padding-bottom: 40px; }

.logo {
  font-size: 40px;
  font-family: "RobotoRegular", sans-serif;
  font-weight: bold; }

.top_phone {
  text-align: right; }

.tab_item {
  display: none; }

.tab_item:first-child {
  display: block; }

.top_phone .wrapper .tab {
  text-transform: uppercase;
  cursor: pointer; }

.top_phone .wrapper .active {
  text-decoration: underline; }

.top_phone .tab_item {
  font-size: 34px;
  font-family: "RobotoBold", sans-serif; }

.top_header {
  margin-top: 70px; }
  .top_header h2 {
    margin: 10px 0 0;
    font-family: "CleanvertisingLight", sans-serif;
    font-size: 36px; }

.tabs_header {
  margin: 40px 0 0;
  padding: 0; }
  .tabs_header li {
    padding-left: 50px;
    position: relative;
    margin-bottom: 12px;
    list-style-type: none; }
  .tabs_header i {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 26px;
    color: #6f6a67; }
  .tabs_header .tabs .tab {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 15px 18px;
    text-transform: uppercase;
    cursor: pointer;
    float: left;
    font-family: "RobotoBold", sans-serif;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .tabs_header .tabs .tab.active {
      background-color: rgba(255, 255, 255, 0.6);
      color: #000; }

.tabs_header .tab_content {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 12px 18px 20px;
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "RobotoBold", sans-serif; }

.button {
  cursor: pointer;
  display: inline-block;
  line-height: 46px;
  padding: 0 32px;
  background-color: #000;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  font-family: "RobotoBold", sans-serif;
  margin-top: 20px; }
  .button.btn_red {
    background-color: #981818; }
  .button.btn_green {
    background-color: #67bc5c; }
  .button.btn_white {
    background-color: #fff;
    color: #000; }

.tab_content .button_wrap {
  text-align: right; }

a.button {
  color: #fff;
  text-decoration: none; }

.s_tizers {
  background-color: #c6d8ee;
  background-image: -webkit-linear-gradient(#c6d8ee, #e8eff7);
  background-image: linear-gradient(#c6d8ee, #e8eff7); }

/*# sourceMappingURL=main.css.map */
